/* @import '@fontsource/fira-mono'; */
@import './font.css';

:root {
	font-family: "Helvetica Neue";


	--color-black: 	   #272727;
	--color-gray:  	   #efefef;
	--color-gray-dark: #696969;
	--color-red:   	   #FF4B64;

	--font-mono: 'Fira Mono', monospace;
	--font-all-capital: "SoinSansProHeadline";
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;	
	--accent-color: var(--color-red);
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;

}

body {
	min-height:   100vh;
	margin: 	  0;
	/* background:   #3e3e3e; */
	background:   var(--color-black);
	/* background-color: var(--primary-color);
	background: linear-gradient(
		180deg,
		var(--primary-color) 0%,
		var(--secondary-color) 10.45%,
		var(--tertiary-color) 41.35%
	); */
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	opacity: 0.05;
}

#svelte {
	min-height: 	100vh;
	height:     	100vh;
	display: 		flex;
	flex-direction: column;
}

h1,
h2,
p {
	font-weight: 400;
	color: white;
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	
	font-size:   4rem;
	font-weight: 100;
	text-align:  center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

button {
	font-size: 	    inherit;
	font-family:    inherit;
	border-width:   2px;
	border-style:   solid;
	border-color:   var(--color-gray);
	background:     transparent;
	cursor:         pointer;
	color: 		    white;
	font-family:    "SoinSansProHeadline";
	text-transform: uppercase;
	padding:        0 1.5rem;
	border-width:   0.25rem;
	letter-spacing: 0.1em;
	height: 		4rem;
}

button.primary {
	border-color: var(--color-red);
}

button:hover:not(:disabled){
	background: var(--color-gray);
	color:    black;
}
button.primary:hover:not(:disabled){
	background: var(--color-red);
	color:    black;
}

button:focus:not(:focus-visible) {
	/* border: none; */
}

button:disabled{
	opacity: 50%;
}


input,
select {
	border: 	1px solid white;
	padding: 	1rem;
	background: transparent;
	color:      white;
}

input:focus,
input:active{
	outline: none;
	--shadow: 1px 0px 3px 1px white, inset 0px 0px 3px 1px white; 
	-webkit-box-shadow: var(--shadow);
	box-shadow: 		var(--shadow);
}

select {
	border: 2px solid var(--color-gray);
}


select:disabled{
	opacity: 50%;
}

label{
	color: white
}